.head{
    background: fixed;
    background-color: rgb(214, 212, 212);
}
.text{
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 25px;
    text-align: justify;
    font-style: inherit;
}
.btn{
    padding: 8px 16px;
    border: none;
    background-color: orange;
    border-radius: 5px;
}
.fact{
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: initial;
    font-size:large
}
.main-photo{
    height: 260px;
    width: 200px;
    margin-left: 150px;
    vertical-align: bottom;
}
.featured{
    text-align: center;
}
.sit{
    font-size: larger;
}
.main{
    display: flex;
}
.rose{
    height: 200px;
}
.image1{
    margin-left: 150px;
    border:1px solid aqua ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: fixed;
    background-color: aquamarine;

    
}

.images{
    display: flex
    gap: 250px;
    background: fixed;
}
.image2{
    margin: 0px;
    border:1px solid aqua ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: aquamarine;
}
.image3{
    border:1px solid aqua ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: aquamarine;
}
.same{
    display: flex;
    gap: 155px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 50px;
    background-color: rgb(243, 242, 242);
    background-position: 100vh;
}
.photo{
    height: fit-content;
}
#number{
    color:red;
}
.text1{
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 25px;
    text-align: justify;
    font-style: inherit;
    font-size: larger;
}
.deal{
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}
.sign{
    padding: 15px 25px;
    border: none;
    background-color: orange;
    border-radius: 5px;
}
.png{
    height: 250px;
}
.asset{
    display: flex;
    background-color: aquamarine;
}
.dolor{
    text-align: center;
}
.velit{
    height:200px;
    border: 1px solid azure;
    gap: 20px;
}
.et{
    text-align: center;
}